<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="CaminhoPasta" value="C:\Users\Junio\Desktop\Prova\app-prova-prismatec\Arquivos\" />
    <add key="NomeArquivo" value="Empresa" />
    <add key="FormatoNomeArquivo" value="MMddyyyyHHmmssfff" />
    <add key="DDD" value="51,53,54,55" />
  </appSettings>
</configuration>